{
    "extends": "stylelint-config-recommended",
    "rules": {
      "declaration-block-properties-order": [
        "display",
        "position",
        "width",
        "height",
        "color"
      ]
    }
  }
  